

#main{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(243, 243, 243, 0.5);
    border: 4px solid rgb(230, 252, 252);
    border-radius: 20px;
}

.goods{
    position: relative;
    width: 280px;
    height: 400px;
    background-image: linear-gradient(to top,rgb(255, 255, 255),rgb(241, 251, 207));
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 20px;
    padding: 20px;
    box-shadow:2px 2px 5px #cfcfcf;
}

.title{
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp:2;
    -moz-box-orient:vertical;
    overflow-wrap: break-word;
    word-break: break-all;
    word-spacing: normal;
    overflow: hidden;
}

.price{
    width: 100%;
    height: 40px;
    display: flex;
}

.current{
    width: 60%;
    height: 100%;
    background-color: rgb(243, 101, 101);
}

.sale{
    width: 40%;
    height: 100%;
    background-color: rgb(247, 208, 66);
    color: rgb(219, 21, 21);
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sousuo{
    width: 100%;
    display: flex;   
    justify-content: space-evenly;
}

.header{
    background-image: linear-gradient(to top,rgb(255, 222, 222),rgb(253, 134, 160));
    /* position: relative; */
    height: 100px;
    text-align: center;
    justify-content: space-evenly;
    font-size: 30px;
}
.Header_H1{
    color: white;
    font-size: 50px;
    font-weight: bold;
    margin: 0 ;
    /* position: absolute;
    top: 0px;
    left: 43%; */
}
.Header_H2{
    margin-top: 80px;
    /* position: absolute;
    top: 130px;
    left: 45.5%; */
}
.cart {
    position: absolute;
    bottom: 15px;
    right: 20px;
    width: 40px;
    height: 30px;
    color: rgb(0, 0, 0);
    background-color: #ffdb46;
    border-radius: 25px;
    box-shadow: gray 0px 0px 5px;
    float: right;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
  }

 .cart:hover{
    background-color: rgb(243, 101, 101);
     
 }

.srk{
    width: 500px;
    height: 40px;
    font-size: 30px;
    font-weight: bold;
    color: rgba(248, 136, 61, 0.5);
    border-radius: 15px;

}
.srk::placeholder{ 
    color: rgba(248, 136, 61, 0.5);
}



/* 头部 */
ul.nav{
    margin: 0 auto;
    display: flex;
}
ul.nav li{
    flex: 1;
    width: 100px;
    list-style: none;
    padding: 10px;
    text-align: center;
    line-height: 35px;

}
ul.nav li a{
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    padding:10px; ;
    color:rgb(255, 255, 255);
    box-sizing: border-box;
}
ul.nav li a:hover,ul.nav li a.current{
    color: #007cc4;
    border-radius: 5px;
    background: #ffffff;
}

#TITLEO{
    height: 940px;
    background-color: rgb(255, 255, 255);
}
.TITLE_LINK{
    position: absolute;
    left: 700px;
    top: 30px;
}
.DIV_SPAN{
    font-size: 25px;
    font-weight: bold;
}
/* 头部css */
.TITLET{
    position: relative;
    height: 100px;
    /* padding-top: 10px; */
    
	  background-position: center;
    background-image: url(./img/276231e9da17865.jpg);
    /* background: linear-gradient(to bottom, rgba(107, 175, 240, 0.5), rgb(129, 129, 129)); */
    box-shadow: 2px 5px  5px black;
    }
    #el-collapse-head-0{
        color: #007cc4;
        font-weight: bold;
        font-size: 20px;
      }
      #el-collapse-head-1{
        color: #007cc4;
        font-weight: bold;
        font-size: 20px;
      }
      #el-collapse-head-2{
        color: #007cc4;
        font-weight: bold;
        font-size: 20px;
      }
      #el-collapse-head-3{
        color: #007cc4;
        font-weight: bold;
        font-size: 20px;
      }
      .T1{
        position: absolute;
        top: 20px;
        left: 20px;
        font-weight: bold;
        font-size: 45px;
        /* width: 400px; */
        display: block;
        color: aliceblue;
        text-shadow: 2px 2px 5px rgb(201, 72, 72);
      }
      .T2{
        position: absolute;
        left: 160px;
        top: 40px;
        text-shadow: 2px 2px 5px rgb(201, 72, 72);
        font-weight: bold;
        font-size: 20px;
        color: aliceblue;
        /* width: 400px; */
        display: block;
      }


      /* 轮播图 */
      /* 轮播图 */
    .demonstration {
        color: var(--el-text-color-secondary);
        }
    
        .el-carousel__item h3 {
        color: #475669;
        opacity: 0.75;
        line-height: 200px;
        margin: 0;
        text-align: center;
        }
    
        .el-carousel__item:nth-child(2n) {
        background-color: #99a9bf;
        }
    
        .el-carousel__item:nth-child(2n + 1) {
        background-color: #d3dce6;
        }

    